h1 {color:red;background-color:#000000;font-size:40px;text-align:left;}   
h2 {color:rgb(255, 255, 255);background-color:hsl(120, 50%, 40%);font-weight:lighter;text-decoration:overline;}
h3 {background-color:yellow;font-style:italic;line-height:1.35;word-spacing:0.25em;}
p  {color:hsl(0, 100%, 91.8%);:first-line font-variant:small-caps;}
ul {background-color:hsl(208, 44.4%, 85.9%);letter-spacing:0.0625em;}
ol {color:lightgray;background-color:hsl(208 0% 100%);letter-spacing:0.0625em;}
body{background-color:hsla(303, 85%, 34%, 1);}
em{text-transform:uppercase;}
strong{text-shadow: 3px 3px 5px black;}